.container-narrow.sign-in
  .sign-in-title
    Resend Confirmation Instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control sign-in-field'
    = f.submit "RESEND CONFIRMATION INSTRUCTIONS", class: 'btn btn-primary sign-in-button'
  .sign-in-link
    or
    = link_to new_user_session_path do
      %strong Log In
    %br
    = link_to new_user_registration_path do
      Sign Up