.container-medium.sign-in
  .sign-in-title
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-group 
      Email
      = f.email_field :email, autofocus: true, required: true, placeholder: 'Email', autocomplete: "email", class: 'form-control sign-in-field'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %br
    .form-group 
      Change Your Password
      = f.password_field :password, autocomplete: "new-password", placeholder: 'New Password (6 or more characters)', class: 'form-control sign-in-field'
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm New Password', class: 'form-control sign-in-field'
    %br
    .form-group
      Enter current password to save changes 
      = f.password_field :current_password, autocomplete: "current-password", required: true, placeholder: 'Current Password', class: 'form-control sign-in-field'
    = f.submit "UPDATE", class: 'btn btn-primary sign-in-button'